<section class="py-5">
  <div class="container px-5 mb-5">
    <div class="mb-5 text-center">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Datos personales</span>
      </h2>
    </div>

    <form
      [formGroup]="datosPersonalesForm"
      (ngSubmit)="onSubmit()"
      autocomplete="do-not-show-ac"
      action="."
      method="post"
    >
      <div class="py-3">
        <div class="row g-3">
          <div class="col-4">
            <label for="inputPassword6" class="col-form-label"
              >Nombre completo:</label
            >
          </div>
          <div class="col-8">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="py-3">
        <div class="row g-3">
          <div class="col-4">
            <label for="inputPassword6" class="col-form-label">CUIL:</label>
          </div>
          <div class="col-8">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="py-3">
        <div class="row g-3">
          <div class="col-4">
            <label for="inputPassword6" class="col-form-label"
              >Fecha de nacimiento:</label
            >
          </div>
          <div class="col-8">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <p>Domicilio real (Datos opcionales)</p>
        </div>
      </div>

      <div class="py-3">
        <div class="row g-3">
          <div class="col-4">
            <label for="inputPassword6" class="col-form-label">Calle:</label>
          </div>
          <div class="col-8">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="py-3">
        <div class="row g-3">
          <div class="col-2">
            <label for="inputPassword6" class="col-form-label">Altura:</label>
          </div>
          <div class="col-4">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword6" class="col-form-label"
              >Cod Postal:</label
            >
          </div>
          <div class="col-3">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="py-3">
        <div class="row g-3">
          <div class="col-2">
            <label for="inputPassword6" class="col-form-label">Piso:</label>
          </div>
          <div class="col-4">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword6" class="col-form-label"
              >Localidad:</label
            >
          </div>
          <div class="col-3">
            <input
              type="medidas"
              id="medidas"
              class="form-control medidasInput"
              aria-describedby="m2"
            />
          </div>
        </div>
      </div>

      <div class="py-3 text-center">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1"
            >El domicilio coincide con el DNI</label
          >
        </div>
      </div>
    </form>

    <div
      class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mt-5"
    >
      <a
        class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
        routerLink="/contador/contador-datos-profesionales"
        >Continuar</a
      >
    </div>
  </div>
</section>
