<section class="py-5">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Felicitaciones</span>
      </h2>
    </div>

    <div class="text-center mb-5">
      <div class="p-5">
        <h6>
          Te enviamos un email para que confirmes tu cuenta y dar por finalizada
          el alta
        </h6>
      </div>
      <div class="p-5">
        <h6>
          Tus datos profesionales están pendientes de validación, te
          informaremos cuando confirmemos tus datos
        </h6>
      </div>
    </div>
  </div>
</section>
