<section class="py-5">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">¿Cuál es tu necesidad?</span>
      </h2>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-12 col-xl-9 col-xxl-8">
        <!-- Project Card 1-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Alta de Monotributo - Ingresos Brutos</h2>
                <p>
                  Permite realizar el alta de forma unificada en el Monotributo
                  Nacional -AFIP- y en el impuesto sobre los Ingresos Brutos de
                  la provincia de Buenos Aires
                </p>
              </div>
            </div>
            <div
              class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
            >
              <a
                class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                routerLink="/buscar-contador"
                >Me interesa</a
              >
            </div>
          </div>
        </div>

        <!-- Project Card 1-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Certificación contable</h2>
                <p>
                  La certificación contable, es un informe realizado por un
                  Contador Público matriculado, quien certifica la constatación
                  de los hechos y circunstancias vertidos por el contribuyente
                  en su manifestación concuerdan con la documentación
                  respaldatoria y registros contables y extracontables
                  examinados.
                </p>
              </div>
            </div>
            <div
              class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
            >
              <a
                class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                routerLink="/buscar-contador"
                >Me interesa</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
