<section class="py-5">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Selección de servicios</span>
      </h2>
    </div>

    <div class="row gx-5 mb-5 justify-content-center">
      <h4 class="text-center">
        <span class="d-inline"
          >A continuación seleccioná los servicios que tenés interes en
          ofrecer:</span
        >
      </h4>
    </div>

    <div
      class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
    >
      <div class="btn-group-lg btn-group-vertical">
        <p>
          <button
            class="btn btn-primary px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/contador/contador-finalizar-registro"
            disabled
          >
            Alta baja monotributo / ingresos brutos
          </button>
        </p>
        <p>
          <button
            class="btn btn-primary px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/contador/contador-finalizar-registro"
            disabled
          >
            Calificaciones contables
          </button>
        </p>
        <p>
          <button
            class="btn btn-primary btn-block px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/contador/contador-finalizar-registro"
            disabled
          >
            Consultas varias
          </button>
        </p>
        <p>
          <button
            class="btn btn-primary btn-block px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/contador/contador-finalizar-registro"
          >
            Finalizar
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
