<section class="py-5">
  <div class="container px-5 mb-5 text-center">
    <div class="mb-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Identificación</span>
      </h2>
    </div>

    <div
      class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
    >
      <div class="btn-group-lg btn-group-vertical">
        <p>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#googleModal">
            <span class="align-middle">
              <i class="material-icons">account_circle</i>
            </span>
            <span class="align-middle mr-2"> Iniciar con Google</span>
          </button>
          
        </p>
        <p>
          <button
            class="btn btn-primary px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/cliente/datos-personales"
          >
            Registrarme
          </button>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Google Modal -->
<div class="modal fade" id="googleModal" tabindex="-1" role="dialog" aria-labelledby="googleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="googleModalLabel">Iniciar sesión con Google</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Agrega aquí el contenido del modal -->
        <p>LLevaria al acceso con google</p>
        <!-- Ejemplo de botón en el modal -->
        <button class="btn btn-danger">Acceso a Google</button>
      </div>
    </div>
  </div>
</div>
