<section class="py-5">
  <div class="container px-5 mb-5 text-center">
    <div class="mb-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Identificación</span>
      </h2>
    </div>

    <div
      class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
    >
      <div class="btn-group-lg btn-group-vertical">
        <p>
          <button
            class="btn btn-primary px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/cliente/datos-personales"
          >
            Iniciar sesión con Google
          </button>
        </p>
        <p>
          <button
            class="btn btn-primary px-5 py-3 me-sm-3 fs-6 fw-bolder"
            routerLink="/cliente/datos-personales"
          >
            Registrarme
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
